{{ define "main" }}
{{ $lastmodstr := (partial "date.html" (dict "date" .Lastmod "language" $.Page.Language "format" "long")) }}
{{ $datestr := (partial "date.html" (dict "date" .Date "language" $.Page.Language "format" "long")) }}

{{ if (and .Params.thumbnail (not (or .Site.Params.hidePageThumbnail .Params.hidePageThumbnail)) ) }}
<div class="relative max-w-5xl mx-auto px-4">
    <img src="{{ .Params.thumbnail }}" class="rounded-lg shadow-sm w-full object-contain"/>
    {{ if not (or (or .Site.Params.hideMeta .Params.hideMeta) false) }}
    <div class="absolute top-4 right-8 rounded shadow bg-white text-gray-900 dark:bg-gray-900 dark:text-white px-2 py-0.5">
        {{ $datestr }}
    </div>
    {{ end }}
</div>
{{ end }}

<article class="prose lg:prose-lg mx-auto my-8 dark:prose-dark px-4" style="max-width: 100ch">

    <div style="display: flex; align-items: center;">

        <div id="left-div" style="flex: 1; margin-right: 50px; vertical-align: center">
            <div style="flex: 1; display: flex; align-items: center; justify-content: center;">
                <img src="{{ .Site.Params.autorImagePath }}" alt="Morgana Karolini Miguel Pinto"/>
            </div>
        </div>

        <div style="flex: 2; text-align: justify">
            {{ .Content }}
        </div>
    </div>
</article>

{{ if .Params.showSocial }}
    {{- partial "social.html" . -}}
{{ end }}

<script>
    function checkScreenWidth() {
        const leftDiv = document.querySelector('#left-div');
        if (window.innerWidth <= 768) {
            leftDiv.style.display = 'none';
        } else {
            leftDiv.style.display = 'flex';
        }
    }

    checkScreenWidth();

    window.addEventListener('resize', checkScreenWidth);
</script>

{{ end }}
