{{ define "main" }}

<body class="dark:bg-gray-800 dark:text-white relative flex flex-col min-h-screen">
    <header class="container flex justify-between md:justify-between gap-4 flex-wrap p-6 mx-auto relative">
        <a href="https://www.morganakarolini.adv.br/" class="capitalize font-extrabold text-2xl">
            <img src=/logo.png alt="Morgana Karolini Miguel Pinto" class="h-8 max-w-full">
        </a>
    </header>
    <main class=flex-1>
        <section class="bg-white-950 dark:bg-gray-900">
            <div class="container max-w-screen-lg mx-auto px-6 py-12 grid md:grid-cols-2 gap-4 lg:gap-16 items-center">
                <div><h1 class="text-4xl font-bold mb-4"></h1>
                    <p class="font-light text-lg">
                        Página não encontrada.
                    </p>
                    <br/>
                    <p class="font-light text-lg">
                        <a class="px-6 py-4 rounded-lg bg-gray-100 text-gray-800 hover:text-gray-900 hover:bg-gray-200 transition-colors"
                            href="{{ .Site.BaseURL }}">Pagina inicial</a>
                    </p>
                </div>
                <img class="rounded-lg shadow-sm" src=/picture.png alt="Morgana Karolini Miguel Pinto">
            </div>
        </section>
    </main>
    <footer class="container p-6 mx-auto flex justify-between items-center">
        <span class="text-sm font-light">Copyright © 2023 - Morgana Karolini Miguel Pinto · Todos os direitos reservados</span>
    </footer>
</body>

{{ end }}
